{# https://www.w3schools.com/howto/howto_js_tabs.asp #}
{% if tabs %}

    <div class="tabs{% if tab_modifier %} tabs--{{ tab_modifier }}{% endif %}">
        <div class="tab-header{% if tab_modifier %} tab-header-{{ tab_modifier }}{% endif %}">
            {% if show_im %}
                <div class="tab-button no-button">
                    {{ __( 'I am', 'sexdates' ) }}
                </div>
            {% endif %}
            {% for tab in tabs %}
                <button class="tab-button{% if tab.id == tab_class %} active{% endif %}" onclick="openTab(event, '{{ tab.id }}')">
                    {{ tab.title }}
                </button>
            {% endfor %}
        </div>

        <div class="tab-contents{% if tab_modifier %} tab-contents-{{ tab_modifier }}{% endif %}">
            {% for tab in tabs %}
                <div id="{{ tab.id }}" class="tabbed-content{% if tab_modifier %} tabbed-content-{{ tab_modifier }}{% endif %}"{% if tab.id == tab_class %} style="display: block;"{% endif %}>
                    <div class="entry-content">
                        {#{% if tab.title %}#}
                            {#<h2>{{ tab.title }}</h2>#}
                        {#{% endif %}#}

                        {% if 'content' in tab.content_selector and tab.content %}
                            {{ tab.content|shortcodes }}
                        {% endif %}

                        {% if 'include' in tab.content_selector and tab.twig_file %}
                            {% include 'partials/' ~ tab.twig_file ~ '.twig' %}
                        {% endif %}

                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="clear"></div>
    </div>
{% endif %}
